################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/APXWS/APXRESTfulAPI/bin/Debug
/APXWS/APXRESTfulAPI/obj/x86/Debug
/EWS/EWS/obj/Debug
/EWS/EWS/bin/Debug
/APXWS/SOAP/obj/x86/Debug
/APXWS/RESTful/bin/Debug
/APXWS/RESTful/obj/x86/Debug
/APXWS/SOAP/bin/Debug
/APXWS/.vs/APXWS/v15
/EWS/.vs/EWS/v15/Server/sqlite3
/APXWS/APXRESTfulAPI/packages
/APXWS/APXRESTfulAPI/.vs/APXRESTfulAPI/v15
/EWS/packages
/AdvOidcSample/.vs/AdvOidcSample/v15
/AdvOidcSample/bin/Debug
/AdvOidcSample/obj/Debug
/AdvOidcSample/packages
/APXWS/RESTful/.vs/BlotterApi/v15
